@import "tailwindcss";

*{
  font-family: "Playfair Display", serif;
}

header{
  background-color: black;
  background-image: url("https://images.unsplash.com/photo-1573592371950-348a8f1d9f38?q=80&w=749&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  height: 500px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#main{
  height: 600px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.71);
  
}

#loginPage{

  background-image: url("https://static.vecteezy.com/system/resources/previews/031/734/340/large_2x/pink-rose-petals-on-white-background-with-copy-space-for-text-close-up-of-blooming-pink-roses-flowers-and-petals-isolated-on-white-table-background-with-empty-space-ai-generated-free-photo.jpg");
  height: 100vh;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

